@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: "Lato", sans-serif;
font-size: 15px;
}
h4{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;

}
.lato-text{
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #040404;
  font-size: 2rem;
  }
  .lato-text h1{
    padding-bottom: 2rem;
  }


.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  opacity: 0.7;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.8;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.text-decoration-none{
    color: rgb(239, 92, 39);
}
.border-none{
    border-style: none;
}
.border-none:hover{
  box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.08) !important;
   transition: all 2s ease-in 1s repeat;
}
#img-main{
  width: 70%;
}
.card-img-top{
  width: 15rem;
  
}
h2{
  font-weight: 600;
}
.card{
  width: 100%; 
  padding: 0.2rem;
}
 .card-title{
  font-size: 1rem;
  font-weight: 400;
 }
 .card-title{
  font-size: 1.1rem;
 }
 .bg-change{
 background: rgb(232,137,137);
background: linear-gradient(90deg, rgba(232,137,137,1) 0%, rgba(210,200,165,1) 32%, rgba(232,137,137,1) 100%);
  height: 10rem;
 }
 .lato-text{
  position: relative;
  top: 3rem;
  text-align: center;
 }
 .lato-text i {
  color: rgb(74, 101, 209);
 }
.lato-text a {
  text-decoration: none;
  color: #424141;
}
.justify-text li, p{
    text-align: justify;
}
.list-group-item-action:hover{
    background-color: blanchedalmond;
}
.cardimg img{
  width: 100%;
}
.Card-font{
  color:#23488a;
  font-weight: 600;
}
.subscriber{
margin-top: 1rem;
}
.subscriber input{
padding: 0.5rem 1.2rem;
opacity: 0.7;

}
.btn-main{
margin-top: 1.2rem;
}
.sub-content h4 {
  background-color: #23488a;
  color: white;
  padding: 0.5rem 1rem;
}
.firstsix{
  font-size: 0.9rem;
}
.list-group-flush li a{
  text-decoration: none;
  color: black;
}
.list-group-flush li:hover{
   background-color: #a7a7a79c;
  color: white;
}
.cardimg:hover{
  opacity: 0.9;
  background-color: rgb(15, 8, 70);
  color: #fff;
  width: calc(100% + 3px);
  transition: all 0.5s ease-in-out ;
}

.justify-text h2, h3 {
  color: #23488a;
}
.justify-text h4{
 color: #40288e;
}
